<nav class="w-full font-mono">
    <ul
        class="flex flex-row lg:flex-col overflow-x-auto lg:overflow-visible whitespace-nowrap lg:whitespace-normal gap-4 lg:gap-2 lg:px-0"
    >
        <li class="lg:flex lg:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_yellow decoration-4 md:decoration-6 lg:decoration-8"
                href="/"
                >HOME</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_black decoration-4 md:decoration-6 lg:decoration-8"
                href="/feed/"
                >FEED</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_blue decoration-4 md:decoration-6 lg:decoration-8"
                href="/notes/"
                >NOTES</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_red decoration-4 md:decoration-6 lg:decoration-8"
                href="/articles/"
                >ARTICLES</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_black decoration-4 md:decoration-6 lg:decoration-8"
                href="/tracking/"
                >TRACKING</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_blue decoration-4 md:decoration-6 lg:decoration-8"
                href="/sitemap/"
                >SITEMAP</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_red decoration-4 md:decoration-6 lg:decoration-8"
                href="/contact/"
                >CONTACT</a
            >
        </li>
        <li class="md:flex md:justify-end">
            <a
                class="text-xl md:text-2xl lg:text-3xl block hover:underline decoration-mondrian_yellow decoration-4 md:decoration-6 lg:decoration-8"
                href="/about/"
                >ABOUT</a
            >
        </li>
        <li class="hidden md:flex md:justify-end">
            <a href="?">
                <svg
                    class="size-8 md:size-9 lg:size-10 fill-mondrian_yellow hover:cursor-none hover:fill-mondrian_black"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100"
                >
                    <circle cx="50" cy="50" r="40" />
                </svg>
            </a>
        </li>
    </ul>
</nav>
