{{ define "main" }}
<div>
    <div class="flex justify-between w-full items-end">
        <h3 class="text-3xl font-semibold">
            {{ .Title }}
        </h3>
        <div class="text-right mb-1">
            <span class="h-max pb-1">
                <p class="text-xs font-mono text-gray-500">
                    all {{ .Data.Plural | lower }}
                </p>
            </span>
        </div>
    </div>
    <hr />

    {{ if .Data.Terms }}
    <div class="mt-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
        {{ range .Data.Terms.Alphabetical }}
        <a href="{{ .Page.RelPermalink }}" 
           class="p-3 text-black border border-black shadow-mondrian font-mono transition-colors bg-white hover:bg-mondrian_blue hover:text-white text-center focus:outline focus:outline-offset-2 focus:outline-mondrian_blue">
            <div class="text-sm font-semibold">{{ .Page.Title }}</div>
            <div class="text-xs opacity-75">{{ .Count }} {{ if eq .Count 1 }}item{{ else }}items{{ end }}</div>
        </a>
        {{ end }}
    </div>
    {{ else }}
    <div class="mt-6">
        <p class="text-sm text-gray-500">No {{ .Data.Plural | lower }} found.</p>
    </div>
    {{ end }}
</div>
{{ end }}
