{{define "main"}}
<div>
    <div class="flex justify-between w-full items-end">
        <h3
            class="text-3xl font-semibold underline decoration-8 decoration-mondrian_blue"
        >
            Tags
        </h3>
        <div class="text-right mb-1">
            <span class="h-max pb-1">
                <p class="text-xs font-mono text-gray-500">
                    all tags used on this site
                </p>
            </span>
        </div>
    </div>
    {{if .Data.Terms}}
    <div class="mt-4 flex flex-wrap gap-2">
        {{range .Data.Terms.Alphabetical}}
        <a
            href="{{ .Page.RelPermalink }}"
            class="w-max py-1 px-1 text-xs text-black border border-black shadow-mondrian font-mono transition-colors bg-mondrian_white hover:bg-mondrian_blue hover:text-mondrian_white text-center focus:outline focus:outline-offset-2 focus:outline-mondrian_blue"
        >
            #{{.Page.Title}}
            <span class="text-xs opacity-75"
                >[{{.Count}} {{if eq .Count 1}}item{{else}}items{{end}}]</span
            >
        </a>
        {{end}}
    </div>
    {{end}}
</div>
{{end}}
