---
title: "#12"
date: "2025-12-11T02:54:17Z"
tags: ["music", "personal", "recommendations"]
---

Arc Raider's soundtrack is too good. I can actually listen to Red Lagoon on repeat all day. In fact, I'm doing it now.
