@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--font-mono:
		ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--color-mondrian_black: #272a31;
	--color-mondrian_bright_white: #fefdfb;
	--color-mondrian_white: #e7e4e1;
	--color-mondrian_light_gray: #d5d2cf;
	--color-mondrian_gray: #c9c6c3;
	--color-mondrian_dark_gray: #b9b6b4;
	--color-mondrian_red: #b82116;
	--color-mondrian_yellow: #e0b705;
	--color-mondrian_blue: #3d51ba;

	--shadow-mondrian: 2px 2px var(--color-mondrian_black);
	--shadow-mondrian_xl: 4px 4px var(--color-mondrian_black);
	--shadow-mondrian_inverse: -2px -2px var(--color-mondrian_black);
	--shadow-mondrian_inverse_xl: -4px -4px var(--color-mondrian_black);
}

::selection {
	background: rgba(224, 183, 5, 0.7);
}

.code-inline {
	@apply rounded-xs border border-mondrian_dark_gray bg-mondrian_light_gray px-0.5 font-mono text-xs;
}
