@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--font-mono:
		ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--color-mondrian_black: #272a31;
	--color-mondrian_white: #f6f5f1;
	--color-mondrian_light_gray: #d5d2cf;
	--color-mondrian_dark_gray: #b9b6b4;
	--color-mondrian_red: #c42520;
	--color-mondrian_yellow: #e8c32e;
	--color-mondrian_blue: #2e5cb8;

	--shadow-mondrian: 2px 2px var(--color-mondrian_black);
	--shadow-mondrian_xl: 4px 4px var(--color-mondrian_black);
	--shadow-mondrian_inverse: -2px -2px var(--color-mondrian_black);
	--shadow-mondrian_inverse_xl: -4px -4px var(--color-mondrian_black);
}

::selection {
	background: rgba(224, 183, 5, 0.7);
}

.code-inline {
	@apply rounded-xs border border-mondrian_dark_gray bg-mondrian_light_gray px-0.5 font-mono text-xs;
}
